:root { 
--deep_purple_900:#341a9e; 
--blue_gray_50:#eff1f4; 
--black_900:#000000; 
--blue_gray_400:#8d8d8d; 
--red_600:#f62020; 
--blue_gray_600:#61707f; 
--gray_900:#222222; 
--red_500:#fc3333; 
--white_A700:#ffffff; 
}